/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

/* Cuadrícula de 2x2 para los cuadros */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    height: 80%;
}

/* Estilo común para los cuadros */
.square {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 8px;
}

/* Estilo específico para el cuadro de "Detectado sonido" y "Acción" */
#info {
    background-color: #2E8B57;
}
